<div class="categories">
  <h2 class="title">Featured Products</h2>

  <!-- Featured -->
  <div class="row">
    <div class="col-4">
      <img src="images/product-1.jpg" alt="a product"/>
      <h4>CINEC T-Shirt</h4>
      <div class="rating">★★★★☆</div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="images/product-2.jpg" alt="a product" />
      <h4>CINEC T-Shirt</h4>
      <div class="rating">★★★★☆</div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="images/product-3.jpg" alt="a product"/>
      <h4>CINEC T-Shirt</h4>
      <div class="rating">★★★★☆</div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="images/product-4.jpg" alt="a product"/>
      <h4>CINEC T-Shirt</h4>
      <div class="rating">★★★★☆</div>
      <p>$50.00</p>
    </div>
  </div>

  <h2 class="title">Latest Products</h2>

  <!-- Latest -->
  <div class="row">
    <div class="col-4"><img src="images/product-5.jpg" alt="a product"/><h4>CINEC T-Shirt</h4><div class="rating">★★★★☆</div><p>$50.00</p></div>
    <div class="col-4"><img src="images/product-6.jpg" alt="a product" /><h4>CINEC T-Shirt</h4><div class="rating">★★★★☆</div><p>$50.00</p></div>
    <div class="col-4"><img src="images/product-7.jpg" alt="a product"/><h4>CINEC T-Shirt</h4><div class="rating">★★★★☆</div><p>$50.00</p></div>
    <div class="col-4"><img src="images/product-8.jpg" alt="a product"/><h4>CINEC T-Shirt</h4><div class="rating">★★★★☆</div><p>$50.00</p></div>
  </div>
</div>
