<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download App for Android and iOS mobile phones.</p>
        <div class="app-logo">
          <img src="images/play-store.png" alt="playstore"/>
          <img src="images/app-store.png" alt="appstore" />
        </div>
      </div>
      <div class="footer-col-2">
        <img src="images/logo-white.png" alt="logo"/>
        <p>
          Our purpose is to sustainably make the pleasure and benefits of
          T-Shirts accessible to the many.
        </p>
      </div>
      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright">
      &copy; 2023 - Nethmina N. Bandara
    </p>
  </div>
</div>
