<div class="testimonial">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <p>Awesome products with high-quality service.</p>
        <div class="rating">★★★★★</div>
        <img src="images/user-1.png" alt="user" />
        <h3>Jayodya Bandara</h3>
      </div>
      <div class="col-3">
        <p>Best products, highly recommended!</p>
        <div class="rating">★★★★★</div>
        <img src="images/user-2.png" alt="user" />
        <h3>Nethmina Bandara</h3>
      </div>
      <div class="col-3">
        <p>Best clothing webstore in Sri Lanka. Good luck!</p>
        <div class="rating">★★★★★</div>
        <img src="images/user-3.png" alt="user"/>
        <h3>Piyumika Bandara</h3>
      </div>
    </div>
  </div>
</div>
